{% extends "base.html" %}
{% block title %}Planes Disponibles{% endblock %}
{% block content %}
<h2>Planes Turísticos</h2>
<ul>
  {% for plan in planes %}
    <li>
      <strong>{{ plan.nombre }}</strong> - {{ plan.descripcion }}
      <a href="{{ url_for('resenas.reseñar', plan_id=plan.id) }}">Ver reseñas</a>
      <a href="{{ url_for('favoritos.agregar', plan_id=plan.id) }}">Agregar a favoritos</a>
      <a href="{{ url_for('planes.detalle', plan_id=plan.id) }}">{{ plan.nombre }}</a>

    </li>
  {% endfor %}
</ul>
<a href="{{ url_for('planes.nuevo') }}">Crear nuevo plan</a>
{% endblock %}
